<!DOCTYPE html>

<body>
    <h1>Hello</h1>
    <form action="/" id="sample-form" method="POST">
        <input type="text" name="password" value="hello"></input>
        <input type="submit" value="Submit">
    </form>

    <script>

      async function postFormFieldsAsJson({ url, formData }) {
        //Create an object from the form data entries
        let formDataObject = Object.fromEntries(formData.entries());
        // Format the plain form data as JSON
        let formDataJsonString = JSON.stringify(formDataObject);
      
        //Set the fetch options (headers, body)
        let fetchOptions = {
          //HTTP method set to POST.
          method: "POST",
          //Set the headers that specify you're sending a JSON body request and accepting JSON response
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          // POST request body as JSON string.
          body: formDataJsonString,
        };

        //Get the response body as JSON.
        //If the response was not OK, throw an error.
        let res = await fetch(url, fetchOptions);
        json_data = await res.json()
        console.log(json_data)
        //If the response is not ok throw an error (for debugging)
        if (!res.ok) {
          let error = await res.text();
          throw new Error(error);
        }
        //If the response was OK, return the response body.
        return json_data
      }
          

     
        window.fetch = new Proxy(window.fetch, {
            apply(fetch, that, args) {
                // Forward function call to the original fetch
                data = args[1]
                // Do whatever you want with the resulting Promise

                api_url = "http://127.0.0.1:5555/add-parameter"
                endpoint = args[0]
                data = args[1]
                original_url = windw.location
                body = {
                  data:data,
                  endpoint:endpoint
                  original_url:original_url
                }
                // Do whatever you want with the resulting Promise
                let fetchOptions = {
                  //HTTP method set to POST.
                  method: "POST",
                  //Set the headers that specify you're sending a JSON body request and accepting JSON response
                  headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                  },
                  // POST request body as JSON string.
                  body: JSON.stringify(body)
                };

                fetch.apply(that,[api_url,fetchOptions]);


                const result = fetch.apply(that, args);

                result.then((response) => {
                    //console.log("fetch completed!", args, response);
                });
        
                return result;
            }
        });

        


        //Get the form element by id
const sampleForm = document.getElementById("sample-form");

//Add an event listener to the form element and handler for the submit an event.
sampleForm.addEventListener("submit", async (e) => {
  /**
   * Prevent the default browser behaviour of submitting
   * the form so that you can handle this instead.
   */
  e.preventDefault();

  /**
   * Get the element attached to the event handler.
   */
  let form = e.currentTarget;

  /**
   * Take the URL from the form's `action` attribute.
   */
  let url = form.action;
  //console.log(url)

  try {
    /**
     * Takes all the form fields and make the field values
     * available through a `FormData` instance.
     */
    let formData = new FormData(form);

    /**
     * The `postFormFieldsAsJson()` function in the next step.
     */
    let responseData = await postFormFieldsAsJson({ url, formData });

    //Destructure the response data


    //Display the response data in the console (for debugging)
    //alert(JSON.stringify(responseData));
  } catch (error) {
    //If an error occurs display it in the console (for debugging)
    console.error(error);
  }
});


    </script>
</body>

</html>